/* .ar-dir{
    display: flex ;
    flex-direction: row-reverse !important;
} */
.ar-fontlarge{
    font-size: large !important;
}
body{
    direction: rtl;
}
*{
    font-size: large !important;
}
.page-content{
    height: 84vh !important;
    overflow: auto;
}

